{% extends 'main.html'%}

{%block content%}

<!-- ##### Hero Area Start ##### -->
<section class="hero-area">
    <div class="hero-post-slides owl-carousel">
        <!-- Single Hero Post -->
        <div class="single-hero-post bg-overlay">
            <!-- Post Image -->
            <div class="slide-img bg-img" style="background-image: url(/static/img/bg-img/2.jpg);"></div>
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Post Content -->
                        <div class="">
                            <form method='GET'>
                                <input type='text' name='q' value='{{ request.GET.q }}' type="text" class="form-control"
                                    style="background-color: inherit;border-radius: 20px; color:#fff;font-weight: bolder;padding-top: 25px;padding-bottom: 25px;">
                                <!-- <input class="button" type='submit' value="Search Profile"> -->
                            </form>

                        </div>
                        {% if object_list %}
                        <div class="cart-area section-padding-0-100 clearfix">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="cart-table clearfix">
                                            <table class="table table-responsive" style="color:#fff;">
                                                <thead>
                                                    <tr>
                                                        <th style="color:#fff;">Name</th>
                                                        <th style="color:#fff;">Bio-actiave compound</th>
                                                        <th style="color:#fff;">Uses</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for i in object_list%}
                                                    <tr>

                                                        <td style="color:#fff;">
                                                            {{i.name}}
                                                        </td>
                                                        <td style="color:#fff;" class="price">
                                                            <span>{{i.bioactive_compound}}</span></td>
                                                        <td style="color:#fff;" class="total_price">
                                                            <span>{{i.uses}}</span></td>

                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                {%endif%}
                                <div class="hero-slides-content text-center">
                                    <h2>Plants exist in the weather and light rays that surround them</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
</section>
<!-- ##### Hero Area End ##### -->
{%endblock content%}