{% extends 'main.html'%}

{%block content%}

<!-- ##### Hero Area Start ##### -->
<section class="hero-area">
    <div class="hero-post-slides owl-carousel">
        <!-- Single Hero Post -->
        <div class="single-hero-post bg-overlay">
            <!-- Post Image -->
            <div class="slide-img bg-img" style="background-image: url(/static/img/bg-img/2.jpg);"></div>
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Post Content -->
                        <div class="">
                            <form>
                                <input type="text" class="form-control"
                                    style="background-color: inherit;border-radius: 20px; color:#fff;font-weight: bolder;padding-top: 25px;padding-bottom: 25px;">
                            </form>
                        </div>
                        <div class="hero-slides-content text-center">
                            <h2>Plants exist in the weather and light rays that surround them</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- ##### Hero Area End ##### -->
{%endblock content%}